.card{
    background-color: #fff;
    width: 800px;
    min-height: 400px;
    margin: 45px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 2px 6px -2px #333;
    animation: up 500ms ease-out;
    
    
}

@keyframes up{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }

  
    100%{
        opacity: 1;
    }
}

/* Details */

.details{
    padding: 32px;

}
.details .item{
    border-bottom:1px solid rgba(0, 0, 0, 0.1) ;
    padding: 16px 0;

}
.details .item:last-child{
    border: none;
}


.details h3,.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: 400;
}
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;

}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span{
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
    background-color: var(--secondary-color);
    border-radius: 16px;
}


/* Form */
input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;

}
input[type="radio"] {
    width: initial;
    margin-right: 4px;
}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
button[type="submit"],a.button{
    padding: 8px 32px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    font-size: 16px;
    
}
a.button{
    display: block;
    text-align: center;
    text-decoration: none;
}
