{% extends 'layout.njk' %}

{% block headstyle %}
<link rel="stylesheet" href="/css/instructors.css">
{% endblock headstyle %}

{% block content %}
<div class="card"> 
    <section class="avatar"   style="background: url(https://source.unsplash.com/collection/79934547) no-repeat center center / cover";
    >

    </section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Instructor</div>
            <div>Guilherme Saraiva</div>
        </div>

         <div class="item">
            <div>Idade</div>
            <div>29</div>
        </div>

         <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

         <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Musculação</span>
                <span>Crossfit</span>
                </div>
        </div>

         <div class="item">
            <div>Desde</div>
            <div>12/08/2018</div>
        </div>
    </section>
</div>


{% endblock content %}