<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block headtitle %}
            <title>Gym Manager</title>
        {% endblock %}

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        {% block headstyle %}{% endblock %}

    </head>
    <body>
        <header class="container">
            <div class="menu">
                <nav>

                    <a href="/instructors" >Instructors</a>
                    <a href="/members">Members</a>

                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}



    <script src="/scripts/index.js"></script>
</body>
</html>